################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QtComboBoxTableWidget/x64/Debug
/QtComboBoxTableWidget/.vs/QtComboBoxTableWidget/v15
*.user
/QtComboBoxTableWidget/x64/Release
.vs

